.assetslists {
 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2px;
 

    &__grid {
        padding: 25px 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

        &-paginator {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 30px;
            width: 100%;
            margin-top:50px;
        }

        &-item {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
border-radius: 20px;
            box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
            width: 300px;
            min-height: 200px;
            max-height: 380px;
            margin: 10px;
            transition: 200ms;
            &:hover {
                transition: 200ms;
            }

            &-logo {
                width: 60px;
                max-height: 60px;
                height: auto;
                mix-blend-mode: multiply;
                margin: 0 30px;
                &:hover{
                    cursor:pointer;
                }
            }

           
           
        }
    }
}

.loader {
    width: 10%;
    height: auto;
}
