.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 0.2px rgb(243, 242, 242) solid;
    padding: 10px 30px;

    &__form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &-input {
            border: none;
            border-bottom: 1px rgb(172, 172, 172) solid;
            outline-offset: none;
            outline: none;
            color: grey;
        }
    }

    &__logo {
        width: 30px;
        padding: 10px;
        margin-right: 10px;
    }

    &__items {
        display: inline-flex;
        align-items: center;

        &-link {
            margin-right: 20px;
            text-decoration: none;
            color: black;
        }
    }

    &__user {
        display: inline-flex;
        align-items: center;
        &-img {
            width: 30px;
            border: 5px solid $primary;
            height: 30px;
            object-fit: cover;
            margin-right: 10px;
            border-radius: 100px;
        }
    }
}
