.cryptodetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    &__row1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: calc( 60% );
        height: 100%;
        overflow-y: scroll;

        
       
    }
    &__row2 {
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width:calc(40%);
        height: 100%;
        box-shadow: rgba(17, 12, 46, 0.08) 0px 48px 100px 0px;
 
    }


    &__card {
    
        padding: 50px;
       
      
    }

    &__card-horizontal {
    
        width: 100%;
        background-color:white;
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
       
      
    }

    &__card-vertical {
        width: calc(100% - 60px);
        background-color:white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: start;
        align-items: start;
        justify-content: start;
    
    }


    &__subtitle{
        font-size: 24px;
        margin-top:30px;
        color: $primary;
    }

    &__title {
        font-size: 50px;
        color: $primary;
        padding: 10px 0;
      
    }

    &__img {
        margin: 15px 0;
        width: 80px;
        height: auto;
    }
}
