.notfound {
    margin: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    &__title{
padding: 10px;
margin-bottom: -50px;
z-index: 2;
    }
    
&__btn{
        padding: 10px;
        z-index: 2;
        
    }
 
}