.searchpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;

    padding: 20px 80px;

    span {
        color: $primary;
    }

    &__title {
        padding: 20px 80px;
    }
    &__table {
        padding: 20px 80px;
        width: 100%;
        height: auto;

        text-align: left;
    }
}
