body,h1{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.theme {
    &__title {
        font-size: 50px;
    ;
  
    }

    &__p {
        line-height: 10px;
        font-size: 20px;
        font-weight: 300;
     
    }

    &__btn {
        margin-top: 5px;
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
        background-color: $primary;
        color: white;
        border: none;
        transition: 200ms;
        &:hover {
            transform: scale(1.05);
            transition: 200ms;
            cursor: pointer;
        }
    }
    &__btn-dissable {
        
        padding: 10px 20px;
        font-size: 13px;
        text-decoration: none;
        background-color: rgb(226, 226, 226);
        color: rgb(110, 110, 110);
        border: none;
        transition: 200ms;
        &:hover {
            transform: scale(1.05);
            background-color: $primary;
            color: white;
            transition: 200ms;
            cursor: pointer;
        }
    }

    &__active-link { 
        color: $primary;
        border-bottom: 2px solid $primary ;
    }
}

.hoverable{
    &:hover{
        cursor:pointer;
    }
}


.green{
    color:green

}


.red{ 
    color:red
}